{% extends 'base.jinja' %}

{% block segundo %}
<div class="w3-container">
    <h2>Cartão Amarelo Extra</h2>
    <p>Conteúdo do cartão amarelo extra</p>
    <div class="w3-panel w3-card w3-yellow"><p>w3-card</p></div>
    <div class="w3-panel w3-card-2 w3-yellow"><p>w3-card-2</p></div>
    <div class="w3-panel w3-card-4 w3-yellow"><p>w3-card-4</p></div>
</div>
{% endblock segundo %}