<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jinja2 Congigurations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static ( 'css/w3/w3_global.css' ) }}">
    <!--- <link rel="stylesheet" type="text/css" media="screen" href="{{ static ( 'css/w3/w3.css' ) }}"> -->
</head>
<body>

    {% block primeiro %}
    {% endblock primeiro %}

    {% block segundo %}
    {% endblock segundo %}

</body>
</html>