{% extends 'base.jinja' %}

{% block primeiro %}
<div class="w3-container">
    <h2>Título</h2>
    <p>Conteúdo:</p>
    <div class="w3-panel w3-card"><p>w3-card</p></div>
    <div class="w3-panel w3-card-2"><p>w3-card-2</p></div>
    <div class="w3-panel w3-card-4"><p>w3-card-4</p></div>
</div> 
{% endblock primeiro %}